footer {
  position: fixed;
  bottom: 5%;
  width: 100%;
}

.App {
  text-align: center;
}

.data-area-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly
}

.navbarButton {
  color: #fff !important;
  padding: .5rem 1rem !important;
}

.navbarStyle {
  padding: .5rem 1rem !important;
}

.table-responsive {
  max-height: 39rem !important;
}

.tableColumn {
  word-break: break-all
}

.profileButton {
  margin: .5rem .5rem;
}

.btn {
  max-width: 150px;
  background-color: #fff;
  color: #001;
  font-weight: 500;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.btn:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.btn-dislike {
  width: 150px;
}